# Performance between Groups

In [1]:
import lib.Mouse as Mouse
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

C:\Users\hp\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
primary_data = pd.read_csv(r'./data/table1.csv')
primary_data.head()

,Mouse ID,Genotype,Gender,Line,TgSWDI,Genotype 2,Genotype 3,Father,Mother,DOB,...,Estimated Delivery Date,Delivery Date,Ween,Male Status,Breeding Status,Maze Configuration,Treatment Group,Virus Implantation,Experimental Status,Unnamed: 22
0,170,Tg-SwDI,M,Tg-SwDI,Pos,NaN,NaN,Tg-SwDI (116),Tg-SwDI (117),2019-08-02,...,NaN,NaN,NaN,NaN,NaN,ABFG,--,--,Testing,NaN
1,171,Tg-SwDI,M,Tg-SwDI,Pos,NaN,NaN,Tg-SwDI (116),Tg-SwDI (117),2019-08-02,...,NaN,NaN,NaN,NaN,NaN,ABFG,--,--,Testing,NaN
2,224,Tg-SwDI,M,Tg-SwDI x ThCre,Pos,Neg,NaN,Tg-SwDI(116),ThCre(71/99),2019-08-24,...,NaN,NaN,NaN,NaN,NaN,ABFG,--,--,Testing,NaN
3,225,Tg-SwDI,M,Tg-SwDI x ThCre,Pos,Neg,NaN,Tg-SwDI(116),ThCre(71/99),2019-08-24,...,NaN,NaN,NaN,NaN,NaN,ABFG,--,--,Testing,NaN
4,233,Tg-SwDI,M,Tg-SwDI x ThCre,Pos,Neg,NaN,Tg-SwDI(116),ThCre(71/99),2019-08-24,...,NaN,NaN,NaN,NaN,NaN,ABFG,--,--,Testing,NaN

In [3]:
primary_data['Age(wks)'] = np.empty_like(primary_data['Mouse ID'])
today = pd.to_datetime(str(datetime.date.today()))

for i in list(primary_data.index):
    dob = pd.to_datetime(str(primary_data['DOB'][i]))
    primary_data['Age(days)'] = today - dob

### Grouping

Genotype Groups:
    1. Tg-SwDI+
    2. Th-Cre+
    3. Tg-SwDI+ x Th-Cre+ low dose group
    4. Tg-SwDI+ x Th-Cre+ high dose group

In [42]:
grouping = primary_data.groupby(['Genotype','Age']).mean()
grouping

KeyError: 'Age'

In [ ]:
df_1 = df[df['Mouse ID']==177]
df_1

### Explore the components

In [ ]:
# bar plot and pie chart

### Genotype Weekly Performance

In [40]:
trial_data = pd.read_csv(r'C:\Users\hp\Desktop\Clerk\data\table2.csv')

In [21]:
#boxplot